# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Testing & coverage
.pytest_cache/
.ruff_cache
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pdf
